 <?xml version="1.0" encoding="UTF-8"?>
	<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
			id="org.apache.cordova.device" version="0.2.3">
		<name>Device</name>
		<description>Cordova Device Plugin</description>
		<license>Apache 2.0</license>
		<keywords>cordova,device</keywords>
		  
		<engines>
			<engine name="cordova" version=">=3.1.0" />
		</engines>

		<js-module src="www/bluetoothDevicePlugin.js" name="bluetoothDevicePlugin">
			<clobbers target="bluetoothDevicePlugin" />
		</js-module>

		<platform name="android">
			<config-file target="config.xml" parent="/*">
				<feature name="BluetoothDevicePlugin">
					<param name="android-package" value="com.leotech.plugin.BluetoothDevicePlugin"/>
				</feature>
			</config-file>
			<config-file target="AndroidManifest.xml" parent="/manifest">
				<uses-permission android:name="android.permission.BLUETOOTH"/>
				<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
				<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="19" />            
			</config-file>

			<source-file src="src/android/BluetoothDevicePlugin.java"
				target-dir="src/com/leotech/bluetooth"/>
			<!-- <source-file src="src/android/BLECommand.java"
				target-dir="src/com/leotech/bluetooth"/>        
			<source-file src="src/android/Peripheral.java"
				target-dir="src/com/leotech/bluetooth"/> -->
		</platform>
	</plugin>